* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Candara";
}

nav {
  position: fixed;
top: 0;
z-index: 1;
width: 100%;
background: rgba(20,146,202,1);
  display: flex;
  height: 70px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}


.brand {
  display: flex;
  align-items: center;
  float: left;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding-left: 20px;
}


.icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 30px;
}

.icons a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding:5px;
  font-size: 27px;
  padding-left: 15px;
}


.icons a:hover {
  color: #174D73;
  transition: all 0.5s;
}

.list-item a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 21px 15px;
  font-size:17px;
  border: 2px solid transparent;
}

.list-item a:hover {

  border-bottom: 2px solid #174D73;
  color: white;
}


nav ul > ol {
  position: absolute;
  top: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  right: 0;
  background: #278CD1;
  text-align: center;
  list-style: none;
  display: none;
  overflow: none;
}

nav ul > ol > li {
  width: 100vw;
  color: #FFF;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width:680px) {
  .list-item a {
    display: none;
  }
}

@media screen and (min-width:680px) {
  nav ul > ol > li {
    display: none;
  }

  #toggle {
    display: none;
  }
}


.main-container {
  display:flex;
  justify-content: center;
  align-items:center;
  height:100%;
  width:100%;
}

.flex-container {

  background-color: rgba(255, 255, 255, .1);

  border-radius:20px;
  color:white;
  /*border: 2px solid white;*/
}

.profile-container{
  margin-top:65px !important;
}

.about-content{

  padding:30px !important;
  width:700px !important;
}

p {
  font-size:15px;
}


@media (max-width: 991px) {

  .flex-container {

    background-color: rgba(255, 255, 255, .1);

    border-radius:0px;
    color:white;
    /*border: 2px solid white;*/
  }

  .limit{
      word-wrap: break-word;
      line-height: normal;

  }

  .about-content{

    padding:10px !important;
    width:auto !important;
  }
}

.image-container {
  display:flex;
  width:100%;
  background-color:transparent;
  align-items:center;
  justify-content: center;
}

.flex-container > div {
  background-color: transparent;
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.limit{
    padding:0px;
    word-wrap: break-word;
    line-height: normal;
}
